body {
  margin: 0;
}

.navWrap {
  z-index: 1000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  background-color: #4d85ff;
}
.navWrap .logo {
  font-size: 2rem;
  text-align: center;
}
.navWrap nav {
  z-index: 1000;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 60%;
}
.navWrap nav ul {
  list-style: none;
  padding: 0;
}
.navWrap nav .navItem {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
}
.navWrap nav .navItem .navIcon {
  display: none;
}
.navWrap nav a {
  color: black;
  text-decoration: none;
}
.navWrap nav .hamburgerButton {
  width: 25%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
  display: none;
  cursor: pointer;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel,
.navWrap nav .hamburgerButton .HBCheckboxLabel > div {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe,
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:before,
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:after,
.navWrap nav .hamburgerButton .HBCheckboxLabel > div .HBStripe,
.navWrap nav .hamburgerButton .HBCheckboxLabel > div .HBStripe:before,
.navWrap nav .hamburgerButton .HBCheckboxLabel > div .HBStripe:after {
  background: black;
  height: 0.4em;
  width: 3em;
  border-radius: 0.2em;
  position: relative;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:before,
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:after,
.navWrap nav .hamburgerButton .HBCheckboxLabel > div .HBStripe:before,
.navWrap nav .hamburgerButton .HBCheckboxLabel > div .HBStripe:after {
  content: "";
  position: absolute;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:before,
.navWrap nav .hamburgerButton .HBCheckboxLabel > div .HBStripe:before {
  top: 0.65em;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:after,
.navWrap nav .hamburgerButton .HBCheckboxLabel > div .HBStripe:after {
  bottom: 0.65em;
}
.navWrap nav .hamburgerButton .HBContent {
  display: none;
  background-color: rgba(0, 0, 0, 0.144);
}
.navWrap nav .hamburgerButton .HBCheckbox {
  display: none;
}

@media screen and (max-aspect-ratio: 1/1) {
  body {
    margin: 0 0 6rem;
  }

  .navWrap {
    position: static;
  }

  body .navWrap nav {
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    height: 6rem;
    background-color: cornflowerblue;
  }
  body .navWrap nav .navItem .navIcon {
    display: block;
  }

  body .navWrap nav .hamburgerButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .hamburgerButton:checked .HBContent {
    display: block;
    position: fixed;
    bottom: 4em;
    width: 90%;
  }
}
html {
  font-size: 130%;
}

body {
  background-color: khaki;
}

.titleBox {
  width: 100%;
  height: 90vh;
  margin: 0;
  overflow: hidden;
  background-color: #313131;
  background-image: url("/images/title_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.titleBox .titleBoxText {
  font-size: 2rem;
  color: #cacaca;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.articleBox {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #74b5ff;
}
.articleBox .article {
  outline: #aaff00;
}

.meetingsBox {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #71c550;
}