html {
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
}

body {
  margin: 0;
}

.navWrap {
  z-index: 1000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  background-color: #63c1fc;
}
.navWrap ul {
  list-style: none;
  padding: 0;
}
.navWrap a {
  text-decoration: none;
}
.navWrap .logo {
  font-size: 2rem;
  text-align: center;
}
.navWrap nav {
  z-index: 1000;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 60%;
}
.navWrap nav a {
  color: black;
}
.navWrap nav .navItem {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
  text-transform: uppercase;
}
.navWrap nav .navItem .navIcon {
  display: none;
}
.navWrap nav .hamburgerButton {
  width: 25%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
  display: none;
  text-transform: uppercase;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe,
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:before,
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:after {
  background: black;
  height: 0.4em;
  width: 2.8em;
  border-radius: 0.2em;
  position: relative;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:before,
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:after {
  content: "";
  position: absolute;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:before {
  top: 0.65em;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:after {
  bottom: 0.65em;
}
.navWrap nav .hamburgerButton .HBStripes {
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navWrap .HBCheckbox {
  display: none;
}
.navWrap .HBContent {
  z-index: 990;
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  line-height: 2em;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.836);
}
.navWrap .HBContent a {
  color: white;
}
.navWrap .HBContent ul {
  margin: 5rem 0 7rem 0;
}

/*Mobile*/
@media screen and (max-aspect-ratio: 1/1) {
  html {
    /*HMMM font-size: calc(16px + (50 - 16) * ((100vw - 200px) / (1600 - 200)));*/
    font-size: 4vw;
  }

  body {
    margin: 0 0 6rem;
  }

  .navWrap {
    position: static;
  }

  body .navWrap nav {
    font-size: 0.6rem;
    position: fixed;
    bottom: 0;
    display: block;
    width: 90vw;
    height: 6em;
    border-left: 6vw solid whitesmoke;
    border-right: 6vw solid whitesmoke;
    -webkit-box-shadow: 0 -0.1em 0.5em rgba(0, 0, 0, 0.5);
            box-shadow: 0 -0.1em 0.5em rgba(0, 0, 0, 0.5);
    background-color: whitesmoke;
  }
  body .navWrap nav .navItem .navIcon {
    display: block;
  }

  body .navWrap nav .hamburgerButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .HBCheckbox:checked + div {
    display: block;
  }
}
body {
  background-color: khaki;
}

.titleBox {
  font-size: 0.8rem;
  width: 100%;
  height: 90vh;
  margin: 0;
  overflow: hidden;
  background-color: #313131;
  background-image: url("/images/title_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.titleBox .titleBoxText {
  font-size: 2.5em;
  color: #cacaca;
  width: 88vw;
  margin: 0 6vw;
  text-align: center;
}

.articleBox {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #74b5ff;
}
.articleBox .article {
  outline: #aaff00;
}

.meetingsBox {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #71c550;
}

@media screen and (max-aspect-ratio: 1/1) {
  body .titleBox {
    font-size: 1vh;
    height: 35vh;
  }
}