body {
  margin: 0;
}

.navWrap {
  z-index: 1000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  background-color: #4d85ff;
}
.navWrap .logo {
  font-size: 2rem;
  text-align: center;
}
.navWrap nav {
  z-index: 1000;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 60%;
}
.navWrap nav ul {
  list-style: none;
  padding: 0;
}
.navWrap nav .navItem {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
}
.navWrap nav .navItem .navIcon {
  display: none;
}
.navWrap nav a {
  color: black;
  text-decoration: none;
}
.navWrap nav .hamburgerButton {
  width: 25%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
  display: none;
  cursor: pointer;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel,
.navWrap nav .hamburgerButton .HBCheckboxLabel > div {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe,
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:before,
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:after,
.navWrap nav .hamburgerButton .HBCheckboxLabel > div .HBStripe,
.navWrap nav .hamburgerButton .HBCheckboxLabel > div .HBStripe:before,
.navWrap nav .hamburgerButton .HBCheckboxLabel > div .HBStripe:after {
  background: black;
  height: 0.4em;
  width: 3em;
  border-radius: 0.2em;
  position: relative;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:before,
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:after,
.navWrap nav .hamburgerButton .HBCheckboxLabel > div .HBStripe:before,
.navWrap nav .hamburgerButton .HBCheckboxLabel > div .HBStripe:after {
  content: "";
  position: absolute;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:before,
.navWrap nav .hamburgerButton .HBCheckboxLabel > div .HBStripe:before {
  top: 0.65em;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:after,
.navWrap nav .hamburgerButton .HBCheckboxLabel > div .HBStripe:after {
  bottom: 0.65em;
}
.navWrap nav .hamburgerButton .HBContent {
  display: none;
  background-color: rgba(0, 0, 0, 0.144);
}
.navWrap nav .hamburgerButton .HBCheckbox {
  display: none;
}

@media screen and (max-aspect-ratio: 1/1) {
  body {
    margin: 0 0 6rem;
  }

  .navWrap {
    position: static;
  }

  body .navWrap nav {
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    height: 6rem;
    background-color: cornflowerblue;
  }
  body .navWrap nav .navItem .navIcon {
    display: block;
  }

  body .navWrap nav .hamburgerButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .hamburgerButton:checked .HBContent {
    display: block;
    position: fixed;
    bottom: 4em;
    width: 90%;
  }
}
html {
  font-size: 130%;
}

body {
  background-color: khaki;
}

.mainContent {
  width: 85vw;
  margin: 1rem auto 1rem;
  overflow: hidden;
}

.zasedani {
  width: 90%;
  margin: 0 auto 0.5em;
  overflow: hidden;
  background-color: snow;
  -webkit-box-shadow: 0.05em 0.2em 0.3em rgba(0, 0, 0, 0.5);
          box-shadow: 0.05em 0.2em 0.3em rgba(0, 0, 0, 0.5);
}
.zasedani .zasedaniTopWrap {
  overflow: hidden;
  background-color: lightgray;
}
.zasedani .zasedaniTop {
  font-size: 1.5rem;
  margin: 0.5em 0.5em 0.4em 0.5em;
}
.zasedani .zasedaniTop .dropdownButtonWrap {
  float: right;
  cursor: pointer;
  width: 1em;
  text-align: center;
}
.zasedani .zasedaniTop .dropdownButton {
  border: solid black;
  border-width: 0 0.12em 0.12em 0;
  display: inline-block;
  padding: 3px;
  height: 0.15em;
  width: 0.15em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: 0.11em;
}
.zasedani .zasedaniCont {
  display: none;
  overflow: hidden;
  margin: 0 1em 1em;
}
.zasedani .zasedaniCont h4 {
  margin-top: 0.2em;
}
.zasedani .checkbox {
  display: none;
}
.zasedani .checkbox:checked + label + div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.zasedani .checkbox:checked + label + div .program, .zasedani .checkbox:checked + label + div .downloads, .zasedani .checkbox:checked + label + div .statistiky {
  margin: 1em 0.7em 0;
}
.zasedani .checkbox:checked + label .dropdownButton {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}