html {
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
}

body {
  margin: 0;
}

.navWrap {
  z-index: 1000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
  background-color: #63c1fc;
}
.navWrap ul {
  list-style: none;
  padding: 0;
}
.navWrap a {
  text-decoration: none;
}
.navWrap .logo {
  font-size: 2rem;
  text-align: center;
}
.navWrap nav {
  z-index: 1000;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 60%;
  text-transform: uppercase;
}
.navWrap nav a {
  color: black;
}
.navWrap nav .navItem {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
}
.navWrap nav .navItem .navIcon {
  display: none;
}
.navWrap nav .hamburgerButton {
  width: 25%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
  display: none;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe,
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:before,
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:after {
  background: black;
  height: 0.4em;
  width: 2.8em;
  border-radius: 0.2em;
  position: relative;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:before,
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:after {
  content: "";
  position: absolute;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:before {
  top: 0.65em;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:after {
  bottom: 0.65em;
}
.navWrap nav .hamburgerButton .HBStripes {
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navWrap .HBCheckbox {
  display: none;
}
.navWrap .HBContent {
  z-index: 990;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  line-height: 2em;
  text-transform: uppercase;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.836);
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}
.navWrap .HBContent a {
  color: white;
}
.navWrap .HBContent ul {
  margin: 5rem 0 7rem 0;
}

/*Mobile vertical*/
@media screen and (pointer: coarse) and (hover: none) and (max-aspect-ratio: 1/1) and (max-device-width: 1900) {
  html {
    font-size: 4vmin;
  }

  body {
    margin: 0 0 6rem;
  }

  .navWrap {
    position: static;
  }

  body .navWrap nav {
    font-size: 0.6rem;
    position: fixed;
    bottom: 0;
    display: block;
    width: 90vw;
    height: 6em;
    border-left: 6vw solid whitesmoke;
    border-right: 6vw solid whitesmoke;
    -webkit-box-shadow: 0 -0.1em 0.5em rgba(0, 0, 0, 0.5);
            box-shadow: 0 -0.1em 0.5em rgba(0, 0, 0, 0.5);
    background-color: whitesmoke;
  }
  body .navWrap nav .navItem .navIcon {
    display: block;
  }

  body .navWrap nav .hamburgerButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .HBCheckbox:checked + div {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@media screen and (pointer: coarse) and (hover: none) and (min-aspect-ratio: 1/1) and (max-device-width: 1900) {
  html {
    font-size: 4vmin;
  }

  body .navWrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .navWrap .logo {
    min-width: 100%;
  }
  body .navWrap nav {
    min-width: 100%;
  }
}
body {
  background-color: khaki;
}

.mainContent {
  width: 85vw;
  margin: 1rem auto 1rem;
  overflow: hidden;
}

.zasedani {
  width: 90%;
  margin: 0 auto 0.5em;
  overflow: hidden;
  background-color: snow;
  -webkit-box-shadow: 0.05em 0.2em 0.3em rgba(0, 0, 0, 0.5);
          box-shadow: 0.05em 0.2em 0.3em rgba(0, 0, 0, 0.5);
}
.zasedani .zasedaniTopWrap {
  overflow: hidden;
  background-color: lightgray;
}
.zasedani .zasedaniTop {
  font-size: 1.5rem;
  margin: 0.5em 0.5em 0.4em 0.5em;
}
.zasedani .zasedaniTop .dropdownButtonWrap {
  float: right;
  cursor: pointer;
  width: 1em;
  text-align: center;
}
.zasedani .zasedaniTop .dropdownButton {
  border: solid black;
  border-width: 0 0.12em 0.12em 0;
  display: inline-block;
  padding: 0.1em;
  height: 0.15em;
  width: 0.15em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: 0.11em;
}
.zasedani .zasedaniCont {
  display: none;
  overflow: hidden;
  margin: 0 1em 1em;
}
.zasedani .zasedaniCont h4 {
  margin-top: 0.2em;
}
.zasedani .checkbox {
  display: none;
}
.zasedani .checkbox:checked + label + div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.zasedani .checkbox:checked + label + div .program, .zasedani .checkbox:checked + label + div .downloads, .zasedani .checkbox:checked + label + div .statistiky {
  margin: 1em 0.7em 0;
}
.zasedani .checkbox:checked + label .dropdownButton {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}