nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: blue;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  margin: 0;
}
nav a {
  display: block;
  color: yellow;
  text-align: center;
  text-decoration: none;
  padding: 0.5em 0.5em;
}
nav a:hover, nav a:focus {
  background-color: yellow;
  color: blue;
}
nav div:hover, nav div:focus-within {
  background-color: yellow;
  color: blue;
}
nav div ul {
  display: none;
  position: absolute;
  padding: 0;
  min-width: 6em;
  list-style: none;
  z-index: 1;
  top: 1.15em;
  background-color: yellow;
}
nav div ul li {
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
}
nav div ul li a {
  color: blue;
  background-color: yellow;
}
nav div ul li a:hover {
  background-color: yellow;
  color: blue;
}
nav div:hover ul {
  display: block;
}

html {
  font-size: 130%;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 200%;
  }
}
body {
  background-color: khaki;
  margin: 0;
}

.mainContent {
  width: 85vw;
  margin: 1rem auto 1rem;
  overflow: hidden;
}

.zasedani {
  width: 90%;
  margin: 0 auto 0.5em;
  overflow: hidden;
  background-color: snow;
  -webkit-box-shadow: 0.05em 0.2em 0.3em rgba(0, 0, 0, 0.5);
          box-shadow: 0.05em 0.2em 0.3em rgba(0, 0, 0, 0.5);
}
.zasedani .zasedaniTopWrap {
  overflow: hidden;
  background-color: lightgray;
}
.zasedani .zasedaniTop {
  font-size: 1.5rem;
  margin: 0.5em 0.5em 0.4em 0.5em;
}
.zasedani .zasedaniTop .dropdownButtonWrap {
  float: right;
  cursor: pointer;
  width: 1em;
  text-align: center;
}
.zasedani .zasedaniTop .dropdownButton {
  border: solid black;
  border-width: 0 0.12em 0.12em 0;
  display: inline-block;
  padding: 3px;
  height: 0.15em;
  width: 0.15em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: 0.11em;
}
.zasedani .zasedaniCont {
  display: none;
  overflow: hidden;
  margin: 0 1em 1em;
}
.zasedani .zasedaniCont h4 {
  margin-top: 0.2em;
}
.zasedani .checkbox {
  display: none;
}
.zasedani .checkbox:checked + label + div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.zasedani .checkbox:checked + label + div .program, .zasedani .checkbox:checked + label + div .downloads, .zasedani .checkbox:checked + label + div .statistiky {
  margin: 1em 0.7em 0;
}
.zasedani .checkbox:checked + label .dropdownButton {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}