@use 'global' as g;

.titleBox{
    font-size: 0.8rem;

    width: 100%;
    height: 90vh;
    margin: 0;
    overflow: hidden;

    background-color: #313131;
    background-image: url("/images/title_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;

    .titleBoxText{
        font-size: 2.5em;
        color: rgb(202, 202, 202);

        width: 88vw;
        margin: 0 6vw;

        text-align: center;
    }
}

.articleBox{
    width: 100%;
    margin: 2em 0 0 0;
    overflow: hidden;
    
    .article{
        @include g.var(background-color, wht);
    }
}

.meetingsBox{
    width: 100%;
    margin: 0;
    overflow: hidden;
}

/* This changes color of navigation buttons. */
@media screen and (hover:none) and (max-aspect-ratio: 1/1) and (max-device-width: g.$mobile-screen-width){
    .navItem[href*="index.php"]{
        @include g.var(color, prim-light);
    }

    .navItem[href*="index.php"] .navIcon{
        @include g.var(fill, prim-light);
    }
}