@use 'variables' as v;

html{
    /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
}

body{
    margin: 0;
}

.navWrap{
    z-index: 1000;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 1.25rem;

    background-color: rgb(99, 193, 252);
    
    ul {
        list-style: none;
        padding: 0;
    }

    a{
        text-decoration: none;
    }

    .logo {
        font-size: 2rem;
        text-align: center;
    }

    nav{
        z-index: 1000;
        height: 3rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-width: 60%;

        text-transform: uppercase;

        a{
            color: black;
        }

        .navItem {
            width: 25%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            float: left;

            .navIcon{
                display: none;
            }
        }

        .hamburgerButton {
            width: 25%;
            height: 100%;

            justify-content: center;
            align-items: center;
            flex-direction: column;

            float: left;
            display: none;

            .HBCheckboxLabel{
                height: 100%;
                width: 100%;

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                cursor: pointer;

                .HBStripe,
                .HBStripe:before,
                .HBStripe:after {
                    background: black;
                    height: 0.4em;
                    width: 2.8em;
                    border-radius: 0.2em;
                    position: relative;
                }

                .HBStripe:before,
                .HBStripe:after {
                    content: "";
                    position: absolute;
                }

                .HBStripe:before{
                    top: 0.65em;
                }

                .HBStripe:after{
                    bottom: 0.65em;
                }
            }

            .HBStripes{
                height: 3em;
                display: flex;
                align-items: center;
            }
        }
    }

    .HBCheckbox{
        display: none;
    }
    
    .HBContent{
        z-index: 990;

        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;

        text-align: center;
        line-height: 2em;
        text-transform: uppercase;
        overflow-y: auto;

        background-color: rgba(0, 0, 0, 0.836);

        transform: scale(0, 1);
        transform-origin: right;
        transition: transform 100ms ease-in-out;

        a{
            color: white;
        }

        ul{
            margin: 5rem 0 7rem 0;
        }

    }
}

/*Mobile vertical*/
@media screen /*and (pointer: coarse)*/
              and(hover:none)
              and (max-aspect-ratio: 1/1)

              /*I had to add this because when
              I rotate my laptops screen it changes
              main input to touch.
              (It registers as pointer:course and hover:none)*/
              and (max-device-width: 1900px){
    html{
        font-size: 4vmin;
    }
    
    body{
        margin: 0 0 6rem;
    }

    .navWrap{
        position: static;
    }

    body .navWrap nav {
        font-size: 0.6rem;

        position: fixed;
        bottom: 0;
        display: block;
        width: 90vw;
        height: 6em;
        border-left: 6vw solid whitesmoke;
        border-right: 6vw solid whitesmoke;

        box-shadow: 0 -0.1em 0.5em rgba(0, 0, 0, 0.5);
        background-color: whitesmoke;

        .navItem{
            .navIcon{
                display: block;
            }
        }
    }

    body .navWrap nav .hamburgerButton{
        display: flex;
    }

    .HBCheckbox:checked + div{
        transform: scale(1, 1);
    }
}

/* Mobile horizontal */
@media screen /*and (pointer: coarse)*/ 
              and(hover:none)
              and (min-aspect-ratio: 1/1)

              /*I had to add this because when
              I rotate my laptops screen it changes
              main input to touch.
              (It registers as pointer:course and hover:none)*/
              and (max-device-width: 1900px){
    html{
        font-size: 4vmin;
    }

    body{
        .navWrap{
            flex-wrap: wrap;

            .logo{
                min-width: 100%;
            }

            nav{
                min-width: 100%;
            }
        }
    }
}