@use 'variables' as v;

nav{
    //navigace nezmizi pri scrolovani
    position: sticky;
    top: 0;

    background-color: v.$color1;
    font-size: 1.2rem;
    display: flex;
    z-index: 1;
    
    a{
        display: block;

        color: v.$color2;
        text-align: center;
        text-decoration: none;
        padding: 0.5em 0.5em;

        &:hover,
        &:focus{
            background-color: v.$color2;
            color: v.$color1;
        }
    }

    div{

        &:hover,
        &:focus-within{
            background-color: v.$color2;
            color: v.$color1;
        }

        ul{
            display: none;
            position: absolute;
            padding: 0;
            min-width: 6em;
            list-style: none;
            z-index: 1;
            top: 1.15em;
            background-color: v.$color2;

            li{
                float: none;
                text-decoration: none;
                display: block;
                text-align: left;

                a{
                    color: v.$color1;
                    background-color: v.$color2;

                    &:hover{
                        background-color: v.$color2;
                        color: v.$color1;
                    }
                }
            }
        }

        &:hover ul{
            display: block;
        }
    }
}