@use 'global' as g;

.mainContent{
    width: 85vw;
    margin: 1rem auto 1rem;
    overflow: hidden;
}

.zasedani{
    width: 90%;
    margin: 0 auto 0.5em;
    overflow: hidden;
    background-color: snow;
    //border-bottom: 0.3em solid black;

    .zasedaniTopWrap{
        overflow: hidden;
        @include g.var(background-color, primary);
        color: snow;
        cursor: pointer;
    }

    .zasedaniTopWrap:hover,
    .zasedaniTopWrap:focus-within{
        @include g.var(color, secondary);

        .dropdownButton{
            @include g.var(border-color, secondary);
        }
    }

    .zasedaniTop{
        font-size: 1.5rem;
        margin: 0.5em 0.5em 0.4em 0.5em;

        .dropdownButtonWrap{
            float: right;
            cursor: pointer;
            width: 1em;
            text-align: center;
        }

        .dropdownButton{
            border: solid white;
            border-width: 0 0.12em 0.12em 0;
            display: inline-block;
            padding: 0.1em;

            height: 0.15em;
            width: 0.15em;

            transform: rotate(45deg);
            margin-bottom: 0.11em;
        }
    }

    .zasedaniCont{
        display: none;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-between;
        overflow: hidden;

        h4{
            margin-top: 0.2em;
        }
    }

    .checkbox{
        display: none;

        &:checked + label .zasedaniTopWrap{
            @include g.var(color, secondary);
        }

        &:checked + label + div{

            // animation in JavaScript
            display: flex;

            .program, .downloads, .statistiky{
                margin: 1em 0.7em 0;
            }
        }

        &:checked + label .dropdownButton{
            transform: rotate(-135deg);
            @include g.var(border-color, secondary);
        }
    }
}

