nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: blue;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}
nav a {
  display: block;
  color: yellow;
  text-align: center;
  text-decoration: none;
  padding: 0.5em 0.5em;
}
nav a:hover, nav a:focus {
  background-color: yellow;
  color: blue;
}
nav div:hover, nav div:focus-within {
  background-color: yellow;
  color: blue;
}
nav div ul {
  display: none;
  position: absolute;
  padding: 0;
  min-width: 6em;
  list-style: none;
  z-index: 1;
  top: 1.15em;
  background-color: yellow;
}
nav div ul li {
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
}
nav div ul li a {
  color: blue;
  background-color: yellow;
}
nav div ul li a:hover {
  background-color: yellow;
  color: blue;
}
nav div:hover ul {
  display: block;
}