<a class="nav-link text-white bg-site" href="#" role="button" data-toggle="collapse" data-target=".collapse#zasedaniCollapse1">
    Zasedání 12.12.2020 <i class="fa fa-angle-down ml-2"></i>
</a>
<div class="collapse bg-light" id="zasedaniCollapse1">
    <div class="row px-5 py-4">
        <div class="col-lg-4 col-md-6">
            <h5>Program Zasedání</h5>
            <div class="d-flex justify-content-center justify-content-md-start">
                <ol class="text-left">
                    <li>bla bla bla bla bla</li>
                    <li>bla bla bla bla bla</li>
                    <li>bla bla bla bla bla bla bla bla bla bla</li>
                    <li>bla bla bla bla bla</li>
                    <li>bla bla bla bla bla</li>
                    <li>bla bla bla bla bla</li>
                </ol>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <h5>Ke stažení</h5>
            <div class="pl-md-2">
                <button class="btn btn-primary btn-sm mb-3">Stáhnout zápis</button>
            </div>
            <h5>Materiály</h5>
            <div class="pl-md-2">
                <p>...................</p>
                <p>...................</p>
                <p>...................</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <h5>Docházka</h5>
            <p class="pl-md-2">Pr, Se, Te, Ka, Ki, 1.A, 1.B, Sx, 2.A, 2.B, Se, 3.A, 3.B, Ok, 4.A, 4.B</p>

            <h5>Hlasování</h5>
            <p class="pl-md-2">.....................</p>
        </div>
    </div>
</div>

<a class="nav-link text-white bg-site mt-2" href="#" role="button" data-toggle="collapse" data-target=".collapse#zasedaniCollapse2">
    Zasedání 12.12.2020 <i class="fa fa-angle-down ml-2"></i>
</a>
<div class="collapse bg-light" id="zasedaniCollapse2">
    <div class="row px-5 py-4">
        <div class="col-lg-4 col-md-6">
            <h5>Program Zasedání</h5>
            <div class="d-flex justify-content-center justify-content-md-start">
                <ol class="text-left">
                    <li>bla bla bla bla bla</li>
                    <li>bla bla bla bla bla</li>
                    <li>bla bla bla bla bla bla bla bla bla bla</li>
                    <li>bla bla bla bla bla</li>
                    <li>bla bla bla bla bla</li>
                    <li>bla bla bla bla bla</li>
                </ol>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <h5>Ke stažení</h5>
            <div class="pl-md-2">
                <button class="btn btn-primary btn-sm mb-3">Stáhnout zápis</button>
            </div>
            <h5>Materiály</h5>
            <div class="pl-md-2">
                <p>...................</p>
                <p>...................</p>
                <p>...................</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <h5>Docházka</h5>
            <p class="pl-md-2">Pr, Se, Te, Ka, Ki, 1.A, 1.B, Sx, 2.A, 2.B, Se, 3.A, 3.B, Ok, 4.A, 4.B</p>

            <h5>Hlasování</h5>
            <p class="pl-md-2">.....................</p>
        </div>
    </div>
</div>


<a class="nav-link text-white bg-site mt-2" href="#" role="button" data-toggle="collapse" data-target=".collapse#zasedaniCollapse3">
    Zasedání 12.12.2020 <i class="fa fa-angle-down ml-2"></i>
</a>
<div class="collapse bg-light" id="zasedaniCollapse3">
    <div class="row px-5 py-4">
        <div class="col-lg-4 col-md-6">
            <h5>Program Zasedání</h5>
            <div class="d-flex justify-content-center justify-content-md-start">
                <ol class="text-left">
                    <li>bla bla bla bla bla</li>
                    <li>bla bla bla bla bla</li>
                    <li>bla bla bla bla bla bla bla bla bla bla</li>
                    <li>bla bla bla bla bla</li>
                    <li>bla bla bla bla bla</li>
                    <li>bla bla bla bla bla</li>
                </ol>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <h5>Ke stažení</h5>
            <div class="pl-md-2">
                <button class="btn btn-primary btn-sm mb-3">Stáhnout zápis</button>
            </div>
            <h5>Materiály</h5>
            <div class="pl-md-2">
                <p>...................</p>
                <p>...................</p>
                <p>...................</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <h5>Docházka</h5>
            <p class="pl-md-2">Pr, Se, Te, Ka, Ki, 1.A, 1.B, Sx, 2.A, 2.B, Se, 3.A, 3.B, Ok, 4.A, 4.B</p>

            <h5>Hlasování</h5>
            <p class="pl-md-2">.....................</p>
        </div>
    </div>
</div>





