.elevation1 {
    filter: brightness(200%);
    box-shadow: 0.2em 0.2em 0.2em 0.2em rgb(19, 19, 19);
}

.elevation2 {
    filter: brightness(300%);
    box-shadow: 0.2em 0.2em 0.2em 0.2em rgb(19, 19, 19);
}