$shadow-color: rgba(0, 0, 0, 0.801);

$overlay1: hsla(0, 0%, 100%, 0.05);
$overlay2: hsla(0, 0%, 100%, 0.07);
$overlay3: hsla(0, 0%, 100%, 0.08);
$overlay4: hsla(0, 0%, 100%, 0.09);
$overlay5: hsla(0, 0%, 100%, 0.11);
$overlay6: hsla(0, 0%, 100%, 0.12);
$overlay7: hsla(0, 0%, 100%, 0.14);
$overlay8: hsla(0, 0%, 100%, 0.15);
$overlay9: hsla(0, 0%, 100%, 0.16);

.elevation1 {
    box-shadow: 0 0 0.2em 0.2em $shadow-color;

    position: relative;

    &::after {
        /* overlay intensity */
        background-color: $overlay1;

        /* just positioning */
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 0;
    }
    
    & > *{
        position: relative;
        z-index: 1;
    }
}

.elevation2 {
    box-shadow: 0 0 0.2em 0.2em $shadow-color;

    position: relative;

    &::after {
        /* overlay intensity */
        background-color: $overlay2;

        /* just positioning */
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 0;
    }
    
    & > *{
        position: relative;
        z-index: 1;
    }
}

.elevation3 {
    box-shadow: 0 0 0.2em 0.2em $shadow-color;

    position: relative;

    &::after {
        /* overlay intensity */
        background-color: $overlay3;

        /* just positioning */
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 0;
    }
    
    & > *{
        position: relative;
        z-index: 1;
    }
}

.elevation4 {
    box-shadow: 0 0 0.2em 0.2em $shadow-color;

    position: relative;

    &::after {
        /* overlay intensity */
        background-color: $overlay4;

        /* just positioning */
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 0;
    }
    
    & > *{
        position: relative;
        z-index: 1;
    }
}

.elevation5 {
    box-shadow: 0 0 0.2em 0.2em $shadow-color;

    position: relative;

    &::after {
        /* overlay intensity */
        background-color: $overlay5;

        /* just positioning */
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 0;
    }
    
    & > *{
        position: relative;
        z-index: 1;
    }
}

.elevation6 {
    box-shadow: 0 0 0.2em 0.2em $shadow-color;

    position: relative;

    &::after {
        /* overlay intensity */
        background-color: $overlay6;

        /* just positioning */
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 0;
    }
    
    & > *{
        position: relative;
        z-index: 1;
    }
}

.elevation7 {
    box-shadow: 0 0 0.2em 0.2em $shadow-color;

    position: relative;

    &::after {
        /* overlay intensity */
        background-color: $overlay7;

        /* just positioning */
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 0;
    }
    
    & > *{
        position: relative;
        z-index: 1;
    }
}

.elevation8 {
    box-shadow: 0 0 0.2em 0.2em $shadow-color;

    position: relative;

    &::after {
        /* overlay intensity */
        background-color: $overlay8;

        /* just positioning */
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 0;
    }
    
    & > *{
        position: relative;
        z-index: 1;
    }
}

.elevation9 {
    box-shadow: 0 0 0.2em 0.2em $shadow-color;

    position: relative;

    &::after {
        /* overlay intensity */
        background-color: $overlay9;

        /* just positioning */
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 0;
    }
    
    & > *{
        position: relative;
        z-index: 1;
    }
}