$colortest: khaki;
$color1: blue;
$color2: yellow;
$color0: black;
$color0light: rgb(158, 158, 158);

$vars: (
    primary: rgb(0, 37, 116),
    secndary: yellow,
);

@mixin var($property, $variable) {
    #{$property}: map-get($vars, $variable);
    #{$property}: var(--#{$variable});
}


:root {
    @each $property, $value in $vars {
        --#{$property}: #{$value};
    }
}