$colortest: khaki;
$color1: blue;
$color2: yellow;
$color0: black;
$color0light: rgb(158, 158, 158);

$vars: (
    primary: #183e60,
    secondary: #fdcc1c,
    background: #eaeaea,
    blck: #000000,
    wht: #fffafa,
);

@mixin var($property, $variable) {
    #{$property}: map-get($vars, $variable);
    #{$property}: var(--#{$variable});
}


:root {
    @each $property, $value in $vars {
        --#{$property}: #{$value};
    }
}