/*device specifications*/
$mobile-screen-width: 600px;

$vars: (
    /* default colors light theme */
    primary: #183e60,
    prim-light: #48688e,
    primary-dark: #001836,
    secondary: #fdcc1c,
    secondary-lighl: #ffff5a,
    secondary-dark: #c59c00,

    surface: #ffffff,
    on-surface: #000000,

    background: #eaeaea,
    on-background: #ffffff,

    'black': #000000,
    'white': rgb(255, 255, 255),
    'snow': #fffafa,
);

/* Usage: @include g.var(color, secondary); */
@mixin var($property, $variable) {
    #{$property}: map-get($vars, $variable);
    #{$property}: var(--#{$variable});
}

:root {
    @each $property, $value in $vars {
        --#{$property}: #{$value};
    }
}

/*Media querries*/

/*
    and (max-device-width: g.$mobile-screen-width) -- under 550px -> probably a mobile phone

    and (hover:none) -- it isn't just shrunk down pc browser

    and (max-aspect-ratio: 1/1) -- just to see device rotation
*/


$mq-mobile-vertical: 'only screen and (max-device-width: '$mobile-screen-width') and (hover:none) and (max-aspect-ratio: 1/1)';

$mq-mobile-horizontal: 'screen and (max-device-height: '$mobile-screen-width') and (hover:none) and (min-aspect-ratio: 1/1)';