h3 {
  margin: 0;
}

/*device specifications*/
/* Usage: @include g.var(color, secondary); */
:root {
  --primary: #183e60;
  --prim-light: #266297;
  --secondary: #fdcc1c;
  --background: #eaeaea;
  --black: #000000;
  --white: white;
  --snow: #fffafa;
}

/*Media querries*/
/*
    and (max-device-width: g.$mobile-screen-width) -- under 550px -> probably a mobile phone

    and (hover:none) -- it isn't just shrunk down pc browser

    and (max-aspect-ratio: 1/1) -- just to see device rotation
*/
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #183e60;
    --prim-light: #266297;
    --secondary: #fdcc1c;
    --background: #3a3a3a;
  }

  body {
    font-weight: 400;
  }

  img {
    filter: brightness(0.8) contrast(1.2);
  }
}
html {
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  background-color: #eaeaea;
  background-color: var(--background);
  width: 100vw;
}

body {
  margin: 0;
  width: 100vw;
}

.navWrap {
  z-index: 1000;
  position: sticky;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  font-size: 1rem;
  background-color: #183e60;
  background-color: var(--primary);
  /* Here to hide horizontal scrollbar on mobile devices. */
}
.navWrap ul {
  list-style: none;
  padding: 0;
}
.navWrap a {
  text-decoration: none;
}
.navWrap .logo {
  font-size: 2rem;
  text-align: center;
}
.navWrap .mobileWrap {
  z-index: 1000;
  min-width: 60%;
}
.navWrap nav {
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  /* just for mobile vertical */
}
.navWrap nav a {
  font-weight: 600;
  color: #fdcc1c;
  color: var(--secondary);
}
.navWrap nav .navItem {
  width: max-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float: left;
  white-space: nowrap;
}
.navWrap nav .navItem .navIcon {
  display: none;
}
.navWrap nav .hamburgerButton {
  min-width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float: left;
  display: none;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe,
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:before,
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:after {
  background: black;
  height: 0.4em;
  width: 2.8em;
  border-radius: 0.2em;
  position: relative;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:before,
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:after {
  content: "";
  position: absolute;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:before {
  top: 0.65em;
}
.navWrap nav .hamburgerButton .HBCheckboxLabel .HBStripe:after {
  bottom: 0.65em;
}
.navWrap nav .hamburgerButton .HBStripes {
  height: 3em;
  display: flex;
  align-items: center;
}
.navWrap .HBCheckbox {
  display: none;
}
.navWrap .HBContent {
  z-index: 990;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  text-align: center;
  line-height: 2em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.836);
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 100ms ease-in-out;
}
.navWrap .HBContent a {
  color: white;
}
.navWrap .HBContent ul {
  margin: 5rem 0 7rem 0;
}

/*Mobile vertical*/
@media only screen and (max-device-width: 600px ) and (hover:none) and (max-aspect-ratio: 1/1) {
  html {
    font-size: 4vmin;
  }

  body {
    margin: 0 0 6rem;
  }

  .navWrap {
    position: static;
  }

  body .navWrap .mobileWrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    box-shadow: 0 -0.1em 0.5em rgba(0, 0, 0, 0.5);
    background-color: whitesmoke;
  }
  body .navWrap .mobileWrap nav {
    font-size: 0.6rem;
    height: 6em;
    width: 90%;
    justify-content: flex-start;
    overflow: hidden;
    /* Center bottom mobile nav horizontally */
    margin: 0 auto;
  }
  body .navWrap .mobileWrap nav a {
    color: var(--blck);
  }
  body .navWrap .mobileWrap nav .navItem {
    min-width: 25%;
  }
  body .navWrap .mobileWrap nav .navItem .navIcon {
    display: block;
  }

  body .navWrap .mobileWrap nav .hamburgerButton {
    display: flex;
  }

  .HBCheckbox:checked + div {
    transform: scale(1, 1);
  }
}
/* Mobile horizontal */
@media screen and (max-device-height: 600px ) and (hover:none) and (min-aspect-ratio: 1/1) {
  html {
    font-size: 4vmin;
  }

  body .navWrap {
    font-size: 0.7em;
    display: flex;
    flex-wrap: wrap;
    position: static;
    justify-content: space-evenly;
  }
  body .navWrap .mobileWrap {
    max-width: 100%;
    display: flex;
    justify-content: center;
    /* Maybe we'll add these when we can detect scroll, somehow.
    .navScrollArrowWrap{
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .navScrollArrowLeft{
            font-size: 2em;
            border: solid;
            @include g.var(border-color, wht);
            border-width: 0 0.12em 0.12em 0;
            display: inline-block;
            padding: 0.1em;

            height: 0.15em;
            width: 0.15em;

            transform: rotate(135deg);
            margin: 0 0.1em 0 0.3em;
        }

        .navScrollArrowRight{
            font-size: 2em;
            border: solid;
            @include g.var(border-color, wht);
            border-width: 0 0.12em 0.12em 0;
            display: inline-block;
            padding: 0.1em;

            height: 0.15em;
            width: 0.15em;

            transform: rotate(-45deg);
            margin: 0 0.3em 0 0.1em;
        }
    }
    */
  }
  body .navWrap .mobileWrap nav {
    font-size: 1.5em;
    overflow-x: auto;
    justify-content: flex-start;
    max-width: max-content;
  }
  body .navWrap .mobileWrap nav .navItem {
    margin: 0 0.5em;
  }
}