/*device specifications*/
/* Usage: @include g.var(color, secondary); */
:root {
  --primary: #183e60;
  --on-primary: #fdcc1c;
  --on-primary-2: rgba(253, 204, 28, 0.87);
  --on-primary-disabled: rgba(253, 204, 28, 0.6);
  --primary-light: #48688e;
  --on-primary-light: #000000;
  --on-primary-light-2: rgba(0, 0, 0, 0.87);
  --on-primary-light-disabled: rgba(0, 0, 0, 0.6);
  --primary-dark: #001836;
  --on-primary-dark: #ffffff;
  --on-primary-dark-2: rgba(255, 255, 255, 0.87);
  --on-primary-dark-disabled: rgba(255, 255, 255, 0.6);
  --secondary: #fdcc1c;
  --on-secondary: #000000;
  --on-secondary-2: rgba(0, 0, 0, 0.87);
  --on-secondary-disabled: rgba(0, 0, 0, 0.6);
  --secondary-light: #ffff5a;
  --on-secondary-light: #000000;
  --on-secondary-light-2: rgba(0, 0, 0, 0.87);
  --on-secondary-light-disabled: rgba(0, 0, 0, 0.6);
  --secondary-dark: #c59c00;
  --on-secondary-dark: #000000;
  --on-secondary-dark-2: rgba(0, 0, 0, 0.87);
  --on-secondary-dark-disabled: rgba(0, 0, 0, 0.6);
  --surface: #ffffff;
  --on-surface: #000000;
  --on-surface-2: rgba(0, 0, 0, 0.87);
  --on-surface-disabled: rgba(0, 0, 0, 0.6);
  --background: #eaeaea;
  --on-background: #000000;
  --on-background-2: rgba(0, 0, 0, 0.87);
  --on-background-disabled: rgba(0, 0, 0, 0.6);
  --error: #CF6679;
  --on-error: black;
  --on-error-2: rgba(0, 0, 0, 0.87);
  --on-error-disabled: rgba(0, 0, 0, 0.6);
  --success: #4caf50;
  --on-success: black;
  --on-success-2: rgba(0, 0, 0, 0.87);
  --on-success-disabled: rgba(0, 0, 0, 0.6);
  --caution: #f9a825;
  --on-caution: black;
  --on-caution-2: rgba(0, 0, 0, 0.87);
  --on-caution-disabled: rgba(0, 0, 0, 0.6);
  --black: #000000;
  --white: white;
  --snow: #fffafa;
}

/*Media querries*/
/*
    and (max-device-width: g.$mobile-screen-width) -- under 550px -> probably a mobile phone

    and (hover:none) -- it isn't just shrunk down pc browser

    and (max-aspect-ratio: 1/1) -- just to see device rotation
*/
html {
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  background-color: #eaeaea;
  background-color: var(--background);
  width: 100vw;
}

body {
  margin: 0;
  width: 100vw;
}