/*device specifications*/
/* Usage: @include g.var(color, secondary); */
:root {
  --primary: #183e60;
  --prim-light: #48688e;
  --primary-dark: #001836;
  --secondary: #fdcc1c;
  --secondary-lighl: #ffff5a;
  --secondary-dark: #c59c00;
  --surface: #ffffff;
  --on-surface: #000000;
  --background: #eaeaea;
  --on-background: #ffffff;
  --black: #000000;
  --white: white;
  --snow: #fffafa;
}

/*Media querries*/
/*
    and (max-device-width: g.$mobile-screen-width) -- under 550px -> probably a mobile phone

    and (hover:none) -- it isn't just shrunk down pc browser

    and (max-aspect-ratio: 1/1) -- just to see device rotation
*/
p {
  color: var(--black);
}

h3 {
  margin: 0;
}